In [1]:
import FinanceDataReader as fdr

In [2]:
import pandas as pd

In [3]:
df_krx = fdr.StockListing('KRX')

df_krx.head(10)

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,138800,2,-200,-0.14,141000,142000,136900,26271134,3666689780452,821645743573600,5919637922,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,749000,1,5000,0.67,755000,762000,735000,3329793,2499458505000,545273771385000,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,379000,1,16000,4.41,364500,379500,363000,429789,161391602750,88686000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,1859000,2,-19000,-1.01,1899000,1915000,1845000,68736,128434843500,86054877909000,46290951,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,103600,1,600,0.58,104800,105300,101700,3062376,318296022649,84534975190400,815974664,STK
5,005380,KR7005380001,현대차,KOSPI,,367000,1,1000,0.27,383000,383500,358500,3027809,1126159492750,75146100122000,204757766,STK
6,329180,KR7329180004,HD현대중공업,KOSPI,,604000,2,-5000,-0.82,607000,609000,591000,436934,262584477500,63396579900000,104961225,STK
7,012450,KR7012450003,한화에어로스페이스,KOSPI,,1212000,2,-2000,-0.16,1256000,1257000,1186000,282589,342525799300,62494842012000,51563401,STK
8,402340,KR7402340004,SK스퀘어,KOSPI,,427500,2,-3000,-0.70,436500,440000,418500,345451,147633479750,56467241662500,132087115,STK
9,034020,KR7034020008,두산에너빌리티,KOSPI,,88100,1,3900,4.63,87700,90400,86200,11400912,1004849502200,56433436962600,640561146,STK

In [5]:
df_krx.shape

(2901, 17)

In [4]:
df_krx[['Code', 'Name']].to_json('DomesticStocks.json', orient='records', force_ascii=False)